In [10]:
import numpy as np # linear algenra
import pandas as pd # data processing
import os
import sys
import matplotlib as pl

Load the dataset in a pandas dataframe

In [5]:
# Importing Yelp Restaurants Data from data directory which is two directory upper than the current directory
# The dataset is on my desktop
data_path ="C:\\Users\\CACER\\OneDrive\\Desktop\\restaurants_reviews.csv"
df = pd.read_csv(data_path)
df.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03

Checking the length of the data

In [6]:
len(df)

4724684

Checking if the data has any empty (NULL) reviews in any column

In [8]:
df.isnull().values.any()

False

In [9]:
df.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

No columc/row is empty. Good start

In [11]:
df.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03

Check the dtypes of each column

In [16]:
print(df.dtypes)

review_id      object
business_id    object
stars           int64
text           object
dtype: object

Some columns that are not useful: 
- useful, funny, cool --> These columns are based on the people link a button and reacting to it not has useful as we will like it to be.
- date --> Going with idea on unsupervised learning this column does not implied (useful) to our project id
- user_id --> Honestly, we do not need the user_id becuase you are comparing or looking at the type of user writing the review

In [12]:
df = df.drop(columns=['useful','funny','cool','user_id','date'])

In [13]:
df.head(3)

,review_id,business_id,stars,text
0,KU_O5udG6zpxOg-VcAEodg,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is..."
1,saUsX_uimxRlCVr67Z4Jig,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...
2,AqPFMleE6RsU23_auESxiA,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo..."

Question: Can we use the stars to rightful classify if the review that was left was a positive or negative?

Maybe when we finished labeling the review using the unsupervised method we can compare the results to the stars that was giving. 
Or create a function that makes stars that are given 1-2 are negative, 3 is neutral, and 4-5 are positive

In [19]:
from typing import List
''' 
Postive will be defined as 1
Negative will be defined as 0
Netural will be defined as -1
'''
def get_stars_assigned(doc_tokens: List[str]):
    score = doc_tokens.apply(lambda x: 0 if x <= 2 else (-1 if x == 3 else 1))
    rating = doc_tokens.apply(lambda x: 'Negative' if x <= 2 else ('Neutral' if x ==3 else 'Postive'))
    return score, rating

In [20]:
assignment = get_stars_assigned(df['stars'])

In [21]:
df['score'] = assignment[0] 
df['rating'] = assignment[1]

Checking the dataframes to see if the code went through

In [22]:
df.head(10)

,review_id,business_id,stars,text,score,rating
0,KU_O5udG6zpxOg-VcAEodg,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",-1,Neutral
1,saUsX_uimxRlCVr67Z4Jig,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...,-1,Neutral
2,AqPFMleE6RsU23_auESxiA,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo...",1,Postive
3,Sx8TMOWLNuJBWer-0pcmoA,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...,1,Postive
4,JrIxlS1TzJ-iCu79ul40cQ,04UD14gamNjLY0IDYVhHJg,1,I am a long term frequent customer of this est...,0,Negative
5,_ZeMknuYdlQcUqng_Im3yg,LHSTtnW3YHCeUkRDGyJOyw,5,Amazingly amazing wings and homemade bleu chee...,1,Postive
6,pUycOfUwM8vqX7KjRRhUEA,gebiRewfieSdtt17PTW6Zg,3,Had a party of 6 here for hibachi. Our waitres...,-1,Neutral
7,l3Wk_mvAog6XANIuGQ9C7Q,EQ-TZ2eeD_E0BHuvoaeG5Q,4,"Locals recommended Milktooth, and it's an amaz...",1,Postive
8,XW_LfMv0fV21l9c6xQd_lw,lj-E32x9_FA7GmUrBGBEWg,4,Love going here for happy hour or dinner! Gre...,1,Postive
9,8JFGBuHMoiNDyfcxuWNtrA,RZtGWDLCAtuipwaZ-UfjmQ,4,Good food--loved the gnocchi with marinara\nth...,1,Postive

Let's remove two more columns from the dataset:
- review_id --> not necessary becuase we just need the text

In [23]:
df = df.drop(columns=['review_id'])

In [24]:
df.head(1)

,business_id,stars,text,score,rating
0,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",-1,Neutral

Most of the written test with ' so we need to brake it apart into two word:
so can't --> can not

In [26]:
def break_down(self, text: str) -> List[str]:
        
        text = ' '.join(text.split())
        
        text = re.sub(r"won\'t", "will not", text)
        text = re.sub(r"can\'t", "can not", text)
        text = re.sub(r"n\'t", " not", text)
        # to join not/no into the next word
        text = re.sub("not ", " NOT", text)
        text = re.sub("no ", " NO", text)
        return text

In [28]:
df['tokenized_vectors'] = df['text'].apply(break_down)

TypeError: break_down() missing 1 required positional argument: 'text'

## Brain storming

In [1]:
import pandas as pd

# Example score series
care_score = pd.Series([0.8, 0.6, 0.9])
fair_score = pd.Series([0.7, 0.5, 0.8])
loyal_score = pd.Series([0.6, 0.7, 1.0])
auth_score = pd.Series([0.5, 0.8, 0.7])
san_score = pd.Series([0.0, 0.6, 0.8])
lib_score = pd.Series([0.7, 0.85, 0.6])

# Concatenate the score series and find the maximum score
max_score = pd.concat([care_score, fair_score, loyal_score, auth_score, san_score, lib_score], axis=1).max(axis=1)
print(max_score)

semantic_sentiment_polarity = max_score.apply(lambda x : 1 if (x == care_score[0]) else 2 if (x == lib_score[1]) else 3)

print(semantic_sentiment_polarity)

0    0.80
1    0.85
2    1.00
dtype: float64
0    1
1    2
2    3
dtype: int64

In [2]:
import pandas as pd

# Example score series
care_score = pd.Series([0.8, 0.6, 0.9])
fair_score = pd.Series([0.7, 0.5, 0.8])
loyal_score = pd.Series([0.6, 0.7, 1.0])
auth_score = pd.Series([0.5, 0.8, 0.7])
san_score = pd.Series([0.0, 0.6, 0.8])
lib_score = pd.Series([0.7, 0.85, 0.6])

# Concatenate the score series and find the maximum score
max_score = pd.concat([care_score, fair_score, loyal_score, auth_score, san_score, lib_score], axis=1).max(axis=1)
print(max_score)

# Determine the semantic sentiment polarity based on the maximum score
semantic_sentiment_polarity = []

for index, value in max_score.items():
    if value == care_score[index]:
        semantic_sentiment_polarity.append(0)
    elif value == fair_score[index]:
        semantic_sentiment_polarity.append(1)
    elif value == loyal_score[index]:
        semantic_sentiment_polarity.append(2)
    elif value == auth_score[index]:
        semantic_sentiment_polarity.append(3)
    elif value == san_score[index]:
        semantic_sentiment_polarity.append(4)
    elif value == lib_score[index]:
        semantic_sentiment_polarity.append(5)

print(semantic_sentiment_polarity)

s = pd.DataFrame(semantic_sentiment_polarity)
print(s)

0    0.80
1    0.85
2    1.00
dtype: float64
[0, 5, 2]
   0
0  0
1  5
2  2