In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# data source https://osf.io/4qduj, https://osf.io/wqzmj/files/osfstorage

We propose that the risk of violence at protests can be estimated as a function of individual moralization and perceived moral convergence. Using data from the 2015 Baltimore protests, we find that not only did the rate of moral rhetoric on social media increase on days with violent protests, but also that the hourly frequency of morally relevant tweets predicted the future rates of arrest during protests, suggesting an association between moralization and protest violence. To understand the structure of this association, we ran a series of controlled behavioral experiments demonstrating that people are more likely to endorse violent protest for a given issue when they moralize the issue; however, this effect is moderated by the degree people believe others share their values. We discuss how online social networks may contribute to inflations of protest violence.

In [3]:
import json

# read file
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [4]:
!gdown --id "1lYgpEtZGK9mKDlO_P5Edk6ejUwvjEJDL" -O tweet_data.zip

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1lYgpEtZGK9mKDlO_P5Edk6ejUwvjEJDL
To: /content/tweet_data.zip
100% 982M/982M [00:09<00:00, 109MB/s]

In [5]:
import zipfile
#from StringIO import StringIO

#zipdata = StringIO()
#zipdata.write(tweet_data.zip)
myzipfile = zipfile.ZipFile("tweet_data.zip")
print(myzipfile)

<zipfile.ZipFile filename='tweet_data.zip' mode='r'>

In [6]:
files = [myzipfile.open(file_name) for file_name in myzipfile.namelist()]
files

[<zipfile.ZipExtFile name='data/' mode='r'>,
 <zipfile.ZipExtFile name='data/hour_level_data_for_protest_days.csv' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='data/complete_hour_level_data.csv' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='data/complete_tidy_tweet_data.csv' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='data/complete_day_level_data.csv' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='data/complete_raw_twitter_data.tsv' mode='r' compress_type=deflate>]

In [7]:
foofile = myzipfile.open('data/complete_tidy_tweet_data.csv')

In [8]:
type(foofile)

zipfile.ZipExtFile

In [ ]:
#

In [10]:
#complete_tidy_tweet_data.csv
df = pd.read_csv(myzipfile.open('data/complete_tidy_tweet_data.csv'))
df.head()

,Unnamed: 0,tId,uId,unixTime,hashtags_list,unixTimeHourly,unixTimeHourly2,day,AS,CH,FC,LB,NM,PD
0,1,"tag:search.twitter.com,2005:592840219033993218",id:twitter.com:1469563057,2015-04-27 20:58:17,NaN,2015-04-27 20:58:17,2015-04-27 21:00:00,2015-04-27,0,0,0,0,0,0
1,2,"tag:search.twitter.com,2005:592839491280338945",id:twitter.com:634755231,2015-04-27 20:55:23,NaN,2015-04-27 20:55:23,2015-04-27 21:00:00,2015-04-27,0,0,0,0,0,0
2,3,"tag:search.twitter.com,2005:592838251506962436",id:twitter.com:36815939,2015-04-27 20:50:28,NaN,2015-04-27 20:50:28,2015-04-27 21:00:00,2015-04-27,1,0,0,1,0,0
3,4,"tag:search.twitter.com,2005:592840172498194433",id:twitter.com:388659041,2015-04-27 20:58:06,AllCrimeMatters FreddieGray,2015-04-27 20:58:06,2015-04-27 21:00:00,2015-04-27,0,0,1,1,0,0
4,5,"tag:search.twitter.com,2005:592838924243959809",id:twitter.com:2345458375,2015-04-27 20:53:08,NaN,2015-04-27 20:53:08,2015-04-27 21:00:00,2015-04-27,0,0,0,0,0,0

In [11]:
df.hashtags_list.value_counts()

nowplaying                                             30893
FreddieGray                                            21403
Baltimore                                              18932
NowPlaying                                             18915
BaltimoreRiots                                         16383
                                                       ...
Priorities Monday                                          1
THoseWereThedays                                           1
ensighten2015 collecteverything RevolutionAnalytics        1
Blessed SAS15 IHSJanes                                     1
WhiteMenCANJump                                            1
Name: hashtags_list, Length: 1604286, dtype: int64

In [18]:
idx = np.where(df.hashtags_list != "Baltimore")

In [19]:
idx

(array([       0,        1,        2, ..., 18694600, 18694601, 18694602]),)

In [21]:
print(len(df), len(idx[0]))

18694603 18675671

In [22]:
print(len(df) - len(idx[0]))

18932

In [23]:
df.drop(index = np.where(df.hashtags_list != "Baltimore")[0], axis = 0, inplace = True)
df.hashtags_list.value_counts()

Baltimore    18932
Name: hashtags_list, dtype: int64

In [24]:
df.head()

,Unnamed: 0,tId,uId,unixTime,hashtags_list,unixTimeHourly,unixTimeHourly2,day,AS,CH,FC,LB,NM,PD
172,173,"tag:search.twitter.com,2005:592839706515222529",id:twitter.com:23717054,2015-04-27 20:56:15,Baltimore,2015-04-27 20:56:15,2015-04-27 21:00:00,2015-04-27,0,0,0,0,0,0
351,352,"tag:search.twitter.com,2005:592838738826387457",id:twitter.com:1520371868,2015-04-27 20:52:24,Baltimore,2015-04-27 20:52:24,2015-04-27 21:00:00,2015-04-27,1,0,1,1,0,0
580,581,"tag:search.twitter.com,2005:592839138140942336",id:twitter.com:20269240,2015-04-27 20:53:59,Baltimore,2015-04-27 20:53:59,2015-04-27 21:00:00,2015-04-27,0,0,0,0,0,0
632,633,"tag:search.twitter.com,2005:592840396465659904",id:twitter.com:127094739,2015-04-27 20:58:59,Baltimore,2015-04-27 20:58:59,2015-04-27 21:00:00,2015-04-27,0,0,0,0,0,0
1223,1224,"tag:search.twitter.com,2005:592838291705176064",id:twitter.com:26333173,2015-04-27 20:50:37,Baltimore,2015-04-27 20:50:37,2015-04-27 21:00:00,2015-04-27,0,0,1,1,0,1

In [ ]:
#data/complete_day_level_data.csv'
df1 = pd.read_csv(myzipfile.open('data/complete_raw_twitter_data.tsv'), sep="\t")
df1.head()

In [ ]:
#https://drive.google.com/file/d/1MtL3oP9-Lm00i229Dw9lWaAlGVc6FLsg/view?usp=sharing

In [12]:
!gdown --id "1MtL3oP9-Lm00i229Dw9lWaAlGVc6FLsg" -O tweet_data_annotated.zip
myzipfile_ = zipfile.ZipFile("tweet_data_annotated.zip")
files = [myzipfile_.open(file_name) for file_name in myzipfile_.namelist()]
files

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1MtL3oP9-Lm00i229Dw9lWaAlGVc6FLsg
To: /content/tweet_data_annotated.zip
100% 305k/305k [00:00<00:00, 133MB/s]

[<zipfile.ZipExtFile name='Annotated Tweets/' mode='r'>,
 <zipfile.ZipExtFile name='Annotated Tweets/.DS_Store' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='__MACOSX/' mode='r'>,
 <zipfile.ZipExtFile name='__MACOSX/Annotated Tweets/' mode='r'>,
 <zipfile.ZipExtFile name='__MACOSX/Annotated Tweets/._.DS_Store' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='Annotated Tweets/Annotation Intersection.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='__MACOSX/Annotated Tweets/._Annotation Intersection.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='Annotated Tweets/Annotator 1.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='__MACOSX/Annotated Tweets/._Annotator 1.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='Annotated Tweets/Annotator 2.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='__MACOSX/Annotated Tweets/._Annotator 2.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='Annotated Tweets/Annotator 3.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='__MACOSX/Annotated Tweets/._Annotator 3.txt' mode='r' compress_type=deflate>,
 <zipfile.ZipExtFile name='__MACOSX/._Annotated Tweets' mode='r' compress_type=deflate>]

In [ ]:
f = open("demofile.txt", "r")
print(f.read())

In [26]:
#'Annotated Tweets/'
ann = myzipfile_.open('__MACOSX/Annotated Tweets/._Annotator 3.txt')
print(ann.read())

b'\x00\x05\x16\x07\x00\x02\x00\x00Mac OS X        \x00\x02\x00\x00\x00\t\x00\x00\x002\x00\x00\x00\xac\x00\x00\x00\x02\x00\x00\x00\xde\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00ATTR\x00\x00\x00\x00\x00\x00\x00\xde\x00\x00\x00\x98\x00\x00\x00F\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00\x00\x98\x00\x00\x00F\x00\x00\x15com.apple.quarantine\x00q/0001;5ab7b7e0;Google\\x20Chrome;0EDC830D-46B6-4D0B-963D-9E1FC24386E6\x00'